/* RESET DEFAULT CSS */
body,
p{
    margin: 0;
    padding: 0;
}


body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.box-out {
    z-index: -99;
    width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 140px;
}

.box-inner {
    /* display: none; */
    z-index: 99;
    width: 900px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    top: 370px;
    overflow: hidden;
    background-color: #fff;
}

.book {
    width: 180px;
    height: 255px;
    background-color: #e3e3e3;
    transition: all .3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

.box-out .book::after {
    content: " ";
    display: block;
    opacity: 0;
    width: 180px;
    height: 255px;
    position: relative;
    left: 8px;
    transition: all .3s ease;
}

.box-out .book::before {
    content: " ";
    z-index: 999;
    display: block;
    width: 20px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: -12px;
    right: 8px;
    transition: all .25s;
    background: url('./img/bookmaker.png');
    background-size: 16px;
    background-repeat: no-repeat;
}

/*------ background-pic ------*/

.books-1 {
    background: url('./img/b1.png');
    background-size: 180px 255px;
}

.books-2 {
    background: url('./img/b2.png');
    background-size: 180px 255px;
}

.books-3 {
    background: url('/img/b3.png');
    background-size: 180px 255px;
}

/* ----- book-blur ----- */

.book-blur {
    filter: blur(30px)
}

.box-inner .book {
    margin-left: 90px;
    position: relative;
    top: -194px;
}

/* ----- hover ----- */

.book:hover {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) ;
    -webkit-backface-visibility: hidden;
        box-shadow: 1px 3px 2px #202222, 20px 8px 0 #dddfda;
}

.book:hover::after {
    content: " ";
    display: block;
    opacity: 1;
    width: 172px;
    height: 255px;
    position: relative;
    left: 8px;
    background: linear-gradient(-180deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 60%);
}

.book:hover::before {
    transform: translateY(9px);
    opacity: 1;
  
}

.dr {
position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
}
 